[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
screen-brightness-control = "*"
numpy = "*"
opencv-python = "==4.5.3.56"
colourlib = "*"
matplotlib = "*"
mediapipe = "==0.8.8"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
